<!-- Footer -->
<footer class="page-footer font-small bg-dark">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 text-primary">© 2018 Copyright:
    <a href="http://github.com/MahmudulHassan5809">Mahmudul Hassan</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
